@use 'variables' as var;

.stx-header {
  display: flex;
  align-items: center;
  padding: var.$stx-space-md;
  gap: var.$stx-space-md;
}

.stx-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-right: 8px;
}

.stx-logo__image {
  height: 25px;
  height: auto;
}

.stx-logo__title {
  font-size: 20px;
  font-weight: 700;
}

stx-search-bar {
  margin-bottom: -20px;
  margin-left: var.$stx-space-lg;
}

.stx-nav {
  margin-left: auto;
}

.stx-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}
