@use '@angular/material' as mat;

.toaster-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  max-height: calc(65px * 6 + 4 * 10px);
  padding: 12px;

  .toaster {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding-left: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    pointer-events: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.toast {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  padding: 12px 14px;
  background-color: var(--mat-sys-surface-container);
  border-radius: 8px;
  color: var(--mat-sys-secondary-container);
  transition: 0.3s;

  animation: slideIn 0.3s ease-out;
  cursor: pointer;

  &:not(:has(.toast__message)) {
    cursor: default;

    .toast__text {
      justify-content: center;
    }
  }

  &:hover,
  &:focus-visible {
    & {
      transform: translateX(-20px);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    gap: 2px;
    align-self: stretch;
  }

  &__title {
    margin: 0;
    color: var(--mat-sys-secondary);
    font-weight: 700;
    font-size: 14px;
    text-transform: lowercase;
  }

  &__message {
    display: -webkit-box;
    margin: 0;
    overflow: hidden;
    color: var(--mat-sys-secondary-container);
    font-weight: 500;
    font-size: 14px;
    text-overflow: ellipsis;
    transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &.open {
      position: relative;
      display: block;
      margin-top: 4px;
      overflow: visible;
      color: var(--mat-sys-on-surface);
      -webkit-line-clamp: unset;
    }
  }

  .close-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    @include mat.icon-overrides(
      (
        color: var(--mat-sys-secondary-container),
      )
    );
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast_type {
  &_check {
    .state-icon {
      @include mat.icon-overrides(
        (
          color: var(--mat-sys-tertiary),
        )
      );
    }
  }

  &_warning {
    .state-icon {
      @include mat.icon-overrides(
        (
          color: var(--mat-sys-primary),
        )
      );
    }
  }

  &_dangerous {
    .state-icon {
      @include mat.icon-overrides(
        (
          color: var(--mat-sys-error),
        )
      );
    }
  }
}

.close-all-toasts-button {
  align-self: flex-end;
  flex-shrink: 0;
  width: 94.05%;
  padding-left: 20px;

  @include mat.button-overrides(
    (
      tonal-container-shape: 8px,
    )
  );
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
