@use '@angular/material' as mat;
@use 'sass:map';
@use 'variables' as v;

.price-chart {
  padding: v.$stx-space-md v.$stx-space-none;
  display: flex;
  flex-direction: column;
  gap: v.$stx-space-md;
  background-color: var(--mat-sys-surface-container);
  border-radius: v.$stx-card-radius;
  box-sizing: border-box;

  &__toggle-bar {
    display: flex;
    gap: v.$stx-space-sm;
    background-color: var(--mat-sys-surface);
    padding: v.$stx-space-sm;
    border: none;
    box-shadow: none;
    overflow: visible;
    align-self: flex-end;
    margin-right: v.$stx-space-md;

    @include mat.button-toggle-overrides(
      (
        selected-state-background-color: var(--mat-sys-primary),
        selected-state-text-color: var(--mat-sys-surface),
      )
    );

    mat-button-toggle {
      border-radius: v.$stx-radius-full;
      border: none;

      .mat-button-toggle-button {
        border-radius: v.$stx-radius-full;
      }
    }
  }
}

.price-chart__container {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: block;
  box-sizing: border-box;
}
