@if (isIconAppearance()) {
<button matIconButton [disabled]="isDisabled()" [type]="type()" (click)="onClick($event)">
  <mat-icon>{{ btnConfig().icon }} </mat-icon></button
>} @else if(btnConfig().href && isExternalLink()) {
<a class="stx-button" target="_blank" [href]="btnConfig().href" [matButton]="matButtonAppearance()">
  @if (btnConfig().icon) {
  <mat-icon>{{ btnConfig().icon }}</mat-icon>
  } {{ btnConfig().label }}
</a>
} @else if(btnConfig().href && !isExternalLink()) {
<a class="stx-button" [matButton]="matButtonAppearance()" [routerLink]="btnConfig().href">
  @if (btnConfig().icon) {
  <mat-icon>{{ btnConfig().icon }}</mat-icon>
  } {{ btnConfig().label }}
</a>
} @else {
<button
  class="stx-button"
  [disabled]="isDisabled()"
  [matButton]="matButtonAppearance()"
  [type]="type()"
  (click)="onClick($event)">
  @if (btnConfig().icon) {
  <mat-icon>{{ btnConfig().icon }}</mat-icon>
  } {{ btnConfig().label }}
</button>
}
