<mat-form-field class="stx-input" [appearance]="appearance()">
  @if (label()) {
  <mat-label>{{ label() }}</mat-label>
  }

  <input
    matInput
    [errorStateMatcher]="customErrorStateMatcher() || defaultErrorStateMatcher"
    [formControl]="control"
    [id]="id()"
    [name]="name()"
    [placeholder]="placeholder()"
    [type]="type()"
    (blur)="markAsTouched()" />

  @if (icon()) {
  <mat-icon aria-hidden="false" matSuffix [fontIcon]="icon()" />
  } @if (control.errors) {
  <mat-error>{{ control.errors | stxErrorMessage : customErrors(): name() }}</mat-error>
  }
</mat-form-field>
