@use 'fonts';

// sizes
$stx-btn-radius: 8px;
$stx-checkbox-radius: 4px;

// typography
$base-font-family: 'Saira Semi Condensed';

// spacings
$stx-space-none: 0;
$stx-space-xs: 0.25rem;
$stx-space-sm: 0.5rem;
$stx-space-md: 1rem;
$stx-space-lg: 1.5rem;
$stx-space-xl: 2rem;
$stx-space-xxl: 3rem;
