@if (item().children?.length) {
<button mat-menu-item type="button" [disabled]="item().disabled" [matMenuTriggerFor]="submenu">
  @if (item().icon) {
  <mat-icon [fontIcon]="item().icon!" />
  } {{ item().label }}
</button>
<mat-menu #submenu="matMenu">
  @for (child of item().children; track child.label) {
  <stx-menu-item [item]="child" />
  }
</mat-menu>
} @else {
<button mat-menu-item type="button" [disabled]="item().disabled" (click)="item().click?.()">
  @if (item().icon) {
  <mat-icon [fontIcon]="item().icon!" />
  } {{ item().label }}
</button>
}
