@use 'fonts';

@use '@angular/material' as mat;
@use 'theme-colors' as theme;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: (
        brand-family: 'Saira Semi Condensed',
        plain-family: 'Saira Semi Condensed',
      ),
      density: (
        scale: 0,
      ),
    )
  );

  @media (prefers-contrast: more) {
    @include theme.high-contrast-overrides('light');
  }
}

body {
  margin: 0;
  height: 100%;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
