@use 'modern-normalize';

@use '@angular/material' as mat;
@use 'theme-colors' as theme;
@use 'variables' as var;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: (
        brand-family: var.$base-font-family,
        plain-family: var.$base-font-family,
      ),
      density: (
        scale: 0,
      ),
    )
  );

  @media (prefers-contrast: more) {
    @include theme.high-contrast-overrides('light');
  }
}

body {
  height: 100vh;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
