@if (toast.shows()) {
<aside class="toaster-container" [class.is-clearing-all]="isClearingAll()">
  <ul #scrollContainer class="toaster">
    @for (item of toast.toasts(); track item.id) {

    <li
      tabindex="0"
      [class]="`toast toast_type_${item.state}`"
      [class.is-removing]="animatingToastIds().includes(item.id)"
      (click)="toggleToast($event, item.id)"
      (keydown.enter)="toggleToast($event, item.id)">
      @if(item.options.icon) {
      <div class="icon-wrapper">
        <mat-icon class="state-icon" [fontIcon]="item.state" />
      </div>
      }

      <div class="toast__text">
        <h3 class="toast__title">{{item.title}}</h3>

        @if(item.message !== '') {
        <p class="toast__message" [class.open]="openedToastId() === item.id">{{ item.message }}</p>
        }
      </div>

      <stx-button class="close-button" [btnConfig]="closeToastBtnConfig" (clicked)="onRemove(item.id)" />
    </li>
    }
  </ul>
  <stx-button class="close-all-toasts-button" [btnConfig]="closeAllBtnConfig" (clicked)="onRemoveAll()" />
</aside>

}
